body {
    background-color: #000;
    color: #fff;
}

header {
    text-align: center;
}


a {
    text-decoration: none;
    color: #f0f;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #f0f;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-column-gap: 10px;
}

@media screen and (max-width: 900px) and (min-width: 666px) {
    main {
	grid-template-columns: repeat(2, 50%);
    }	
}

@media screen and (max-width: 666px) {
    main {
	grid-template-columns: 100%;
    }	
}

