* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, main {
    max-width: 100vw;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.poem {
    padding: 0.55em;
}

.title {
    text-align: center;
}

.note {
    text-align: right;
}

hr {
    width: 80vw;
}

@media screen and (min-width: 30em){
    .poem {
	max-width: 30em;
    }
}

