/* / route #mobile */
body {
  display: flex;
  flex-direction: column;
  background-color: #000;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 20em;
  /* border: 1px solid #f0f; */
  margin: 1.5em 1.5em 0em 1.5em;
  overflow-wrap: break-word;
  padding: 1.5em;
}

.card-item {
  font-size: 1.125em;
}

.card-item-center {
  margin: 1.5em 0em;
}

#language-select {
  position: fixed;
  height: 1.75em;
  width: 3em;
  left: 0;
  top: 0;
  border: 1px solid #ff00ff;
}

/* / route #desktop */
@media only screen and (min-width: 50em) {
  body {
    display: grid;
    grid-template-columns: repeat(auto-fill, 20em);
  }

  .card {
    margin-right: 0em;
  }
}
